<% if( typeof errors != 'undefined' ) { %>
    <% errors.forEach( err => { %>
        <div class="error-box">
            <div class="bg-purple white text-left" style="padding: 2%; margin: 1vh 0; border: solid 2px orangered;">
                <%= err.message %>
                <span class="float-right white bg-purple"><i><strong class="bg-purple white" style="cursor: pointer;">x</strong></i></span>
            </div>
        </div>
    <% }) %>
<% } %>

<% if( success_message != '' ) { %>
<div class="error-box">
            <div class="bg-purple white text-left" style="padding: 2%; margin: 1vh 0; border: solid 2px lightgreen;">
                <%= success_message %>
                <span class="float-right white bg-purple"><i><strong class="bg-purple white" style="cursor: pointer;">x</strong></i></span>
            </div>
        </div>
<% } %>

<% if( error_message != '' ) { %>
    <div class="error-box">
                <div class="bg-purple white text-left" style="padding: 2%; margin: 1vh 0; border: solid 2px orangered;">
                    <%= error_message %>
                    <span class="float-right white bg-purple"><i><strong class="bg-purple white" style="cursor: pointer;">x</strong></i></span>
                </div>
            </div>
<% } %>

<% if( error != '' ) { %>
    <div class="error-box">
                <div class="bg-purple white text-left" style="padding: 2%; margin: 1vh 0; border: solid 2px orangered;">
                    <%= error %>
                    <span class="float-right white bg-purple"><i><strong class="bg-purple white" style="cursor: pointer;">x</strong></i></span>
                </div>
            </div>
<% } %>