<link rel="stylesheet" href="./../css/style.css">

<style>
  .container {
    margin: 10% 5%;
}
.container .create-fixtures-rdr:hover {
    background-color: #37003c;
    color: whitesmoke;
    transition: all 200ms;
}
.container .content-box .box {
    display: inline-flex;
    width: 32.5%;
    margin: 2.5% 0;
}
.container .content-box .box table {
    background-color: whitesmoke;
    border-radius: 5px;
}
/* .container .content-box .box table tr td {
    border: solid 1px black;
} */
.container .content-box .box table tr .team-name {
    width: 40%;
    padding: .5%;
}
.container .content-box .box table tr .round {
    /* border: solid 1px black; */
    background-color: #37003cc7;
    color: whitesmoke;
    border-radius: 5px 5px 0 0;
}

.loading {
    margin: 25vh 47%;
}

@media( max-width: 1080px ) {
    .container .content-box .box {
        width: 49%;
    }
}
@media( max-width: 800px ) {
    .container {
        margin: 15% 5%;
    }
    .container .content-box .box {
        width: 49%;
    }
}
@media( max-width: 600px ) {
    .container .content-box .box {
        width: 100%;
    }
}
@media( max-width: 480px ) {
    .container {
        margin: 20% 5%;
    }
    .container .content-box .box {
        width: 100%;
    }
}
@media( max-width: 400px ) {
    .container {
        margin: 25% 5%;
    }
    .container .content-box .box {
        width: 100%;
    }
}
</style>

    <!-- Navigation Bar -->
    <div class="navbar bg-purple">
        <a href="/">
            <div class="logo"><img src="/img/logoepl2.png"><span><b>PL</b><em>score</em></span></div>
        </a>
        <i class="material-icons" style="font-size:30px;color: whitesmoke;">view_headline</i>
        <!-- Desktop Nav -->
        <ul class="max-line">
            <li class="max-list"><a href="/home"><i class="fa fa-home" style="font-size:26px;"></i></a></li>
            <li class="max-list"><a href="/news">Berita</a></li>
            <li class="max-list actived"><a href="/fixtures">Pertandingan</a></li>
            <li class="max-list"><a href="/spec">Spesifikasi</a></li>
            <li class="max-list"><a href="/profile"><%= user.username %></a></li>
        </ul>
        <!-- Android/Apple Nav -->
        <div class="for-js nav-menu">
            <ul class="min-line">
                <li class="min-list"><a href="/home">Beranda</a></li>
                <li class="min-list"><a href="/news">Berita</a></li>
                <li class="min-list actived"><a href="/fixtures">Pertandingan</a></li>
                <li class="min-list"><a href="/spec">Spesifikasi</a></li>
                <li class="min-list"><a href="/profile"><%= user.username %></a></li>
            </ul>
        </div> 
    </div>

  <div class="container">
    <div class="titles">
      <h2 class="text-center purple">Pertandingan Liga Inggris</h2>
    </div>

    <% if( typeof user != 'undefined' ) { %>
      <% if( user.role == 'admin' || user.role == 'staff' ) { %>
        <a href="/fixtures/create" style="text-decoration: none;">
            <div class="create-fixtures-rdr text-center purple bg-white br-5" style="padding: 2.5% 0; margin: .5%;">
              Posting Berita
            </div>
          </a>
      <% } %>
      <a href="/fixtures" style="text-decoration: none;">
        <div class="create-fixtures-rdr text-center purple bg-white br-5" style="padding: 2.5% 0; margin: .5%;">
          Pertandingan Dari PLscore
        </div>
      </a>
    <% } %>

    <div class="content-box">
      <div class="loading" id="loading" style="display: inline-flex;">
        <div style="width: 2vw; height: 2vw; background-color: #37003c7d; margin: 5px 0%; transition: ease-in-out 400ms; display: flexbox; border-radius: 50%;"></div>
        <div style="width: 2vw; height: 2vw; background-color: #37003cc7; margin: 5px 0%; transition: ease-in-out 400ms; display: flexbox; border-radius: 50%;"></div>
        <div style="width: 2vw; height: 2vw; background-color: #37003c; margin: 5px 0%; transition: ease-in-out 400ms; display: flexbox; border-radius: 50%;"></div>
    </div>
    </div>
  </div>

<script src="./../js/script.js"></script>
<script src="./../js/script-fixtures.js"></script>